* {  
    padding: 0;
    margin: 0;

}

body{
    background-color: rgb(255, 227, 176);
}

header{
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    align-items: center;
    border-bottom: 4px solid rgb(103, 24, 24);
    color: rgb(103, 24, 24);
    padding-right: 40px;
    /* box-shadow: 0 15px 15px 0 black;  */
    padding-left: 15px;
}

header ul{
    display: flex;
    list-style-type: none;
    align-items: center; 
} 

header ul li{
    display: flex;
    align-items: center;
    margin: 2rem 1.5rem 2rem 0;

} 

header ul li a{
    cursor: pointer;
    color: rgb(103, 24, 24);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

header ul li a:hover{
    font-size: larger;
    color: white;
    
}

/* .quote{
    font-size: 50px;
} */

.text{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 3fr;
    /* grid-column-gap: 5px; */
    margin-top: 5px;   
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}



.container{
    background-color: wheat;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    border: 2px solid rgb(103, 24, 24) ;
    color: rgb(103, 24, 24);   
}

/* .container:hover{
    color: white;
    font-weight: bolder;
} */


footer{
    background-color: rgb(103, 24, 24);
    color: wheat; 
    text-align: center;
    border-top: 4px solid wheat;
    padding: 20px;
    
}

footer:hover{
    color: white;
}


@media(max-width: 650px){
    /* header ul{
        display: flex;
        flex-direction: column;
 
    }  */

    header{
        display: grid;
        padding: 20px;
    }
    
    header ul li{
        margin: 0.5rem 0.5rem 0.5rem 0;
   
    
    }  
    
    
}

